
* {
  border-radius: 5px;
}

body {
  background-image: url(../images/background.jpg);
}

#container {
  margin: 20px auto;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 950px;
  height: 600px;
  background-image: url(../images/metal.png);
  box-shadow: 0px 0px 25px #111 inset, 0px 5px 5px #111;
  border: 2px solid #333;
  border-radius: 20px
}

#left {
  float: left;
}

a#modal {
  font-family: "Helvetica";
  color: #fe5d2b;
  text-decoration: none;
  float: right;
  padding-top: 10px;
}

a#modal:hover {
  color: white;
}
a.mks {
  color: #cae5f7;
}

a.mks:hover {
  color: #549ecd;
}

a.mks:visited {
  color: #549ecd;
}

.modalDialog {
    position: fixed;
    font-family: "Ububtu", Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

#logo {
  width: 335px;
  margin-left: 15px;
}

#logo h1 {
  margin-bottom: 0px;
  padding-left: 15px;
  font-size: 2.5em;
  font-family: "Prometheus";
  color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#logo h1 span {
  font-size: small;
}

#screen {
  top: 25px;
  right: 25px;
  padding: 0;
  margin-left: 20px;
  /*background: #bdc6b3;*/
  height: 60px;
  width: 300px;
  background: #b7cada;
  border: 2px solid #aaa;
  padding: 15px;
  border-top-color: #666;
  border-top-width: 3px;
  border-bottom-color: #bbb;
  box-shadow: 0px 0px 10px #888 inset;
  -webkit-box-shadow: -2px -4px 73px -14px rgba(183,202,218,1);
  -moz-box-shadow: -2px -4px 73px -14px rgba(183,202,218,1);
  box-shadow: -2px -4px 73px -14px rgba(183,202,218,1);
}

#screen {
  margin-left: 30px;
  padding: 5px;
}

#screen .titles {
  padding: 5px;
  font-size: .9em;
  font-family: "Digital-7";
  color: black;
}

#screen .titles span {
  color: #555;
}

#pads {
  width: 535px;
  background: transparent;
  padding: 15px;
  vertical-align: baseline;
  border-radius: 10px;
  position: absolute;
  right: 25px;
  bottom: 25px;

}

#pads button {
  background: #ebffa3;
  background: -moz-radial-gradient(center, ellipse cover,  #ebffa3 0%, #ff5c2b 76%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ebffa3), color-stop(76%,#ff5c2b));
  background: -webkit-radial-gradient(center, ellipse cover,  #ebffa3 0%,#ff5c2b 76%);
  background: -o-radial-gradient(center, ellipse cover,  #ebffa3 0%,#ff5c2b 76%);
  background: -ms-radial-gradient(center, ellipse cover,  #ebffa3 0%,#ff5c2b 76%);
  background: radial-gradient(ellipse at center,  #ebffa3 0%,#ff5c2b 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebffa3', endColorstr='#ff5c2b',GradientType=1 );

  box-shadow: 0 0 3px #222;
  border: none;
  height: 110px;
  width:  110px;
  margin: 10px;
  text-shadow:  0 1px 2px #fff;
  padding-top: 85px;
  display: inline-block;
  font-family: 'Arial';
  font-size: 1.2em;
  color: black;
}

#pads button:active {
  background: #ffaf9b;
  background: -moz-radial-gradient(center, ellipse cover,  #ffaf9b 0%, #ff3700 74%, #ff3700 74%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffaf9b), color-stop(74%,#ff3700), color-stop(74%,#ff3700)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf9b', endColorstr='#ff3700',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
  -moz-box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
  box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
}

#pads button.selected {
  background: #ffaf9b;
  background: -moz-radial-gradient(center, ellipse cover,  #ffaf9b 0%, #ff3700 74%, #ff3700 74%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffaf9b), color-stop(74%,#ff3700), color-stop(74%,#ff3700)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf9b', endColorstr='#ff3700',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
  -moz-box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
  box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
}

#pads button:focus {
  outline: 0;
}

#transport {
  position: absolute;
  bottom: 25px;
  left: 30px;
}

#transport #banks button {
  background: #eeffb5;
  background: -moz-radial-gradient(center, ellipse cover,  #eeffb5 0%, #f0ff7f 46%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeffb5), color-stop(46%,#f0ff7f)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #eeffb5 0%,#f0ff7f 46%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #eeffb5 0%,#f0ff7f 46%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #eeffb5 0%,#f0ff7f 46%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #eeffb5 0%,#f0ff7f 46%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeffb5', endColorstr='#f0ff7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  display: block;
  width: 250px;
  height: 50px;
  margin-left: 60px;
  margin-bottom: 10px;
  text-align: right;
  color: black;
  padding-top: 20px;
  font-family: 'Digital-7';
  font-size: 1.8em;
}

#transport #banks #hidden {
  background: transparent;
  border: none !important;
  font-size:0;
  box-shadow: none;
  height: 20px;
}

#transport #banks .selected {
  outline: 0;
  background: #eeffb5;
  background: -moz-radial-gradient(center, ellipse cover,  #eeffb5 0%, #e1ff00 46%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeffb5), color-stop(46%,#e1ff00)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #eeffb5 0%,#e1ff00 46%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #eeffb5 0%,#e1ff00 46%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #eeffb5 0%,#e1ff00 46%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #eeffb5 0%,#e1ff00 46%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeffb5', endColorstr='#e1ff00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-box-shadow: 4px 2px 139px -4px rgba(204,255,21,1);
  -moz-box-shadow: 4px 2px 139px -4px rgba(204,255,21,1);
  box-shadow: 4px 2px 139px -4px rgba(204,255,21,1);
}

#transport #track {
  padding-left: 40px;
}

#transport #track button{
  width: 60px;
  height: 40px;
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #00ef4f 77%, #00f052 77%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(77%,#00ef4f), color-stop(77%,#00f052)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#00ef4f 77%,#00f052 77%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#00ef4f 77%,#00f052 77%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#00ef4f 77%,#00f052 77%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#00ef4f 77%,#00f052 77%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00f052',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#transport #track img {
  padding: 12px;
  margin: 0 auto;
}

#transport #track button:focus {
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #00dd56 52%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(52%,#00dd56)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#00dd56 52%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#00dd56 52%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#00dd56 52%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#00dd56 52%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00dd56',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-box-shadow: -2px -2px 65px -8px rgba(0,238,77,1);
  -moz-box-shadow: -2px -2px 65px -8px rgba(0,238,77,1);
  box-shadow: -2px -2px 65px -8px rgba(0,238,77,1);
}

#transport #track #record:focus {
  background: #e3ffdd;
  background: -moz-radial-gradient(center, ellipse cover,  #e3ffdd 4%, #df0a35 78%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(4%,#e3ffdd), color-stop(78%,#df0a35)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #e3ffdd 4%,#df0a35 78%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #e3ffdd 4%,#df0a35 78%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #e3ffdd 4%,#df0a35 78%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #e3ffdd 4%,#df0a35 78%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ffdd', endColorstr='#df0a35',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -2px -2px 65px -8px rgba(255,22,88,1);
  -moz-box-shadow: -2px -2px 65px -8px rgba(255,22,88,1);
  box-shadow: -2px -2px 65px -4px rgba(255,22,88,1);
}


#transport button {
  display: inline-block;
  padding: 10px 25px;
  margin: 0 5px;
  font-size: 90%;
  background: -webkit-linear-gradient(bottom, rgb(138,138,138) 0%, rgb(184,184,184) 100%);
  color: #444;
  box-shadow: 0 1px 2px #222, 0 -1px 1px #666;
  border-width: 1px;
  text-shadow:  0 1px 2px #fff;
}

#transport button:active {
  box-shadow: none;
  background: -webkit-linear-gradient(bottom, rgb(160,160,160) 0%, rgb(138,138,138) 100%);
  position: relative;
  top: 1px
}

#transport button:focus {
  outline: 0;
}

.form {
  width: 60px;
margin: 0 auto;
display: inline-block;
position: absolute;
padding-left: 10px;
}

#transport #bpm {
  width: 44px;
  background: #fff;
  color: black;
}

#submit-button {
  border : solid 0px #ffffff;
  border-radius : 3px;
  moz-border-radius : 3px;
  -webkit-box-shadow : inset 0px 0px 5px rgba(0,0,0,1.0);
  -moz-box-shadow : inset 0px 0px 5px rgba(0,0,0,1.0);
  box-shadow : inset 0px 0px 5px rgba(0,0,0,1.0);
  font-size : 10px;
  color : #000;
  padding : 2px 7px;
  background-color : #03ee51;
  font-family: 'Arial';
  width:  50px;
}

#submit-button:focus {
  outline: none;
}




#container .about {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding-right: 10px;
}

#container .about a {
  text-decoration: none;
  color: white;
  font-family:"Arial";
  font-size: 1.1em;
  padding: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#container .about a:hover {
  -webkit-animation: neon2 0.5s ease-in-out infinite alternate;
  -moz-animation: neon2 0.5s ease-in-out infinite alternate;
  animation: neon2 0.5s ease-in-out infinite alternate;
}

/*GLOW*/
@font-face {
  font-family: 'PressStart';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
}

@font-face {
    font-family: 'Prometheus';
    src: url(../fonts/PROMETHEUS.ttf);
    /*font-weight:400;*/
}

@font-face {
    font-family: 'Digital-7';
    src: url(../fonts/digital-7.ttf);
    /*font-weight:400;*/
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}

