
* {
  border-radius: 5px;
  /*border: 1px solid green;*/
}

html {
  height: 100%
}

body {
  background: #555;
  height: 100%;
  font-family: "Arial", Helvetica, Geneva, sans-serif;
  /*text-transform: uppercase;*/
  clear:both;
}

#container {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  /*padding: 10px 30px;*/
  width: 950px;
  height: 600px;
  background: -webkit-linear-gradient(bottom, rgb(191,194,188) 0%, rgb(206,210,201) 50%);
  background: #2e2e2e;
  /*position: relative;*/
  box-shadow: 0px 0px 25px #111 inset, 0px 5px 5px #111;
  border: 2px solid #333;
  border-radius: 20px

}

#left {
  float: left;
}


/*#logo h2 {
  font-weight: 400;
  font-size: 90%;
  letter-spacing: 4px;
  word-spacing: 7px;
  color: #555;
}*/

#logo {
  width: 335px;
  margin-left: 15px;
}

#logo h1 {
  /*background: white;*/
  margin-bottom: 0px;
  padding-left: 15px;
  font-size: 2.5em;
  font-family: "Prometheus";
  color: white;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#logo h1 span {
  font-size: small;
}

/*#logo h2 {
  font-size: 1em;
  padding-left: 15px;
  color: white;
}*/

#screen {
  /*background: -webkit-linear-gradient(bottom, rgb(60,60,60) 0%, rgb(90,90,90) 100%);*/
  /*padding: 10px;*/
  /*position: absolute;*/
  top: 25px;
  right: 25px;
  padding: 0;
  margin-left: 20px;
  /*background: #bdc6b3;*/
  height: 60px;
  width: 300px;
  background: #b7cada;
  border: 2px solid #aaa;
  padding: 15px;
  border-top-color: #666;
  border-top-width: 3px;
  border-bottom-color: #bbb;
  box-shadow: 0px 0px 10px #888 inset;
/*  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);*/
  -webkit-box-shadow: -2px -4px 73px -14px rgba(183,202,218,1);
  -moz-box-shadow: -2px -4px 73px -14px rgba(183,202,218,1);
  box-shadow: -2px -4px 73px -14px rgba(183,202,218,1);
}

#screen {
  margin-left: 30px;
  padding: 5px;
}

#screen .titles {
  padding: 5px;
  font-size: 1.2em;
  font-family: "Digital-7";
  color: black;
}
#pads {
  width: 535px;
  /*background: -webkit-linear-gradient(bottom, rgb(80,96,97) 0%, rgb(99,119,122) 100%);*/
  background: #2e2e2e;
  padding: 15px;
  vertical-align: baseline;
  border-radius: 10px;
  position: absolute;
  right: 25px;
  bottom: 25px;

}

#pads button {
  background: #ebffa3; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ebffa3 0%, #ff5c2b 76%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ebffa3), color-stop(76%,#ff5c2b)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ebffa3 0%,#ff5c2b 76%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ebffa3 0%,#ff5c2b 76%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ebffa3 0%,#ff5c2b 76%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ebffa3 0%,#ff5c2b 76%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebffa3', endColorstr='#ff5c2b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


/*  background: -webkit-linear-gradient(bottom, rgb(166,166,166) 0%, rgb(189,189,189) 80%, rgb(209,209,209) 96%);
  background: #39FF14;*/
  box-shadow: 0 0 3px #222;
  border: none;
  height: 110px;
  width:  110px;
  margin: 10px;
  text-shadow:  0 1px 2px #fff;
  font-size: 90%;
  text-align: right;
  padding-top: 85px;
  display: inline-block;
  font-family: 'Digital-7';
  font-size: 1.5em;
  color: black;
/*  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .30);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .30);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .30);*/
}

@-webkit-keyframes pad_hit {
  0%   { background: #f56b6b; }
  100% { background: #ca8f8f; }
}



/*button.pressed {
  -webkit-animation: pad_hit 0.1s 1;
}*/

#pads button:hover {
  background: #ffaf9b; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffaf9b 0%, #ff3700 74%, #ff3700 74%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffaf9b), color-stop(74%,#ff3700), color-stop(74%,#ff3700)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf9b', endColorstr='#ff3700',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
  -moz-box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
  box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
}

#pads button.selected {
  background: #ffaf9b; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffaf9b 0%, #ff3700 74%, #ff3700 74%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffaf9b), color-stop(74%,#ff3700), color-stop(74%,#ff3700)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffaf9b 0%,#ff3700 74%,#ff3700 74%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf9b', endColorstr='#ff3700',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
  -moz-box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
  box-shadow: -2px -2px 65px -2px rgba(240,137,63,1);
}

/*#pads button.active {
  background: #ca8f8f;

}*/

#pads button:focus {
  outline: 0;
}

#transport {
  position: absolute;
  bottom: 25px;
  left: 30px;
}

#transport #banks button {
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #b045be 75%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(75%,#b045be)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#b045be 75%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#b045be 75%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#b045be 75%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#b045be 75%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b045be',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  display: block;
  width: 250px;
  height: 50px;
  /*padding: 10px 20px 10px 20px;*/
  margin-left: 60px;
  margin-bottom: 10px;
  /*font-size: 1.5em;*/
  /*font-family: 'Play';*/
  text-align: right;
  color: black;
  padding-top: 20px;
  font-family: 'Digital-7';
  font-size: 1.8em;

/*  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);*/
}

#transport #banks #hidden {
  background: transparent;
  border: none !important;
  font-size:0;
  box-shadow: none;
  height: 20px;
}

#transport #banks .selected {
  outline: 0;
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #a600bc 75%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(75%,#a600bc)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#a600bc 75%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#a600bc 75%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#a600bc 75%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#a600bc 75%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a600bc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: 0px 0px 86px -4px rgba(176,69,190,1);
  -moz-box-shadow: 0px 0px 86px -4px rgba(176,69,190,1);
  box-shadow: 0px 0px 86px -4px rgba(176,69,190,1);
}

#transport #track {
  padding-left: 40px;
}

#transport #track button{
  width: 60px;
  height: 40px;
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #00ef4f 77%, #00f052 77%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(77%,#00ef4f), color-stop(77%,#00f052)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#00ef4f 77%,#00f052 77%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#00ef4f 77%,#00f052 77%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#00ef4f 77%,#00f052 77%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#00ef4f 77%,#00f052 77%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00f052',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#transport #track img {
  padding: 12px;
  margin: 0 auto;
}

#transport #track button:focus {
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #00dd56 52%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(52%,#00dd56)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#00dd56 52%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#00dd56 52%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#00dd56 52%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#00dd56 52%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00dd56',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-box-shadow: -2px -2px 65px -8px rgba(0,238,77,1);
  -moz-box-shadow: -2px -2px 65px -8px rgba(0,238,77,1);
  box-shadow: -2px -2px 65px -8px rgba(0,238,77,1);
}

#transport #track #record:focus {
  background: #e3ffdd; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #e3ffdd 4%, #df0a35 78%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(4%,#e3ffdd), color-stop(78%,#df0a35)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #e3ffdd 4%,#df0a35 78%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #e3ffdd 4%,#df0a35 78%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #e3ffdd 4%,#df0a35 78%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #e3ffdd 4%,#df0a35 78%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ffdd', endColorstr='#df0a35',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -2px -2px 65px -8px rgba(255,22,88,1);
  -moz-box-shadow: -2px -2px 65px -8px rgba(255,22,88,1);
  box-shadow: -2px -2px 65px -4px rgba(255,22,88,1);
}


#transport button {
  display: inline-block;
  padding: 10px 25px;
  margin: 0 5px;
  font-size: 90%;
  background: -webkit-linear-gradient(bottom, rgb(138,138,138) 0%, rgb(184,184,184) 100%);
  color: #444;
  box-shadow: 0 1px 2px #222, 0 -1px 1px #666;
  border-width: 1px;
  text-shadow:  0 1px 2px #fff;
}

#transport button:active {
  box-shadow: none;
  background: -webkit-linear-gradient(bottom, rgb(160,160,160) 0%, rgb(138,138,138) 100%);
  position: relative;
  top: 1px
}

#transport button:focus {
  outline: 0;
}

#container .about {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding-right: 10px;
}

#container .about a {
  text-decoration: none;
  color: white;
  /*color:#228DFF;*/
  font-family:"PressStart";
  font-size: 0.9em;
  padding: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#container .about a:hover {
  -webkit-animation: neon2 0.5s ease-in-out infinite alternate;
  -moz-animation: neon2 0.5s ease-in-out infinite alternate;
  animation: neon2 0.5s ease-in-out infinite alternate;
}

/*//////////////*/
/*GLOW*/
@font-face {
  font-family: 'PressStart';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
}

@font-face {
    font-family: 'Prometheus';
    src: url(../fonts/PROMETHEUS.ttf);
    /*font-weight:400;*/
}

@font-face {
    font-family: 'Digital-7';
    src: url(../fonts/digital-7.ttf);
    /*font-weight:400;*/
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}


